.scrolled {
  background-color: pink; /* Cambia el color de fondo que desees */
  transition: background-color 0.3s; /* Agrega una transición suave */
}
.button {
    color: whitesmoke;
    border-radius: 5px;
    margin: 3px 0px;
    padding: 0.6vw 2.0vw;
    
    border-radius: 99rem;
    border: 1px solid white;
    position: relative;
  }
  .homeFonts {
	display: flex;
	flex-direction: column;
	position: relative;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items:center;
	vertical-align: center;
	text-align: center;
	z-index: 20;
	line-height: normal;
	@media only screen and (max-width: 767px) {
		width:90%;
	  }
}

.homeFonts h1 {
	font-size: 14vw;
	white-space: nowrap;
	position: relative;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	overflow: hidden;
	letter-spacing: 7px;

	@media only screen and (max-width: 767px) {
		font-size: 11vw;
	  }
}
.homeFonts h2 {
    font-size: 14vw;
	white-space: nowrap;
	position: relative;
	-webkit-text-stroke-width: 0.2rem;
	-webkit-text-stroke-color: white;
	color: transparent;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: 7px;
	@media only screen and (max-width: 767px) {
		font-size: 11vw;
	  }
}
.homeFonts h5{
	color: white;
    padding: 1.8vw 3.9vw;
    border: 3px solid white;
    border-radius: 50%;
    height: 50%;
    text-align: center;
	font-size: 1.3vw;
}
.marquee {
	overflow: hidden;
    position: relative;
    left: -14px;
    width: 115%;
    max-width: 100vw;
    height: 10vh;
    bottom: 0;
    color: white;
    border: 2.5px gray;
    border-style: solid none;
    text-align: center;
	margin-bottom: 3vw;
	@media only screen and (max-width: 767px) {
		height: 7vh;
		
	  }
  }
  
  .marquee__container {
	display: flex;
	transition: transform 0.5s ease-in-out;
	animation: move 25s linear infinite;
	font-size: 2rem;
	white-space: nowrap; /* No es text-wrap, es white-space */
	text-align: center;
	height: 100%;
	width: 100%;
	display: grid;
	place-items: center;
	position: relative;
  }

  .marquee__container:hover {
	animation-play-state: paused;
  }
  
  @keyframes move {
	0% {
	  transform: translateX(0%);
	}
	100% {
	  transform: translateX(-100%);
	}
  }
  @media (max-width: 700px) { 
	@keyframes move {
		0% {
		  transform: translateX(0%);
		}
		100% {
		  transform: translateX(-450%);
		}
	  }
 }


 .scrollcontainer {
	width: 100%; 
	overflow: hidden; 
	position: relative; 
	display: flex;
	justify-content: space-around;
	align-items: center;
  }
  

  .product {
	width: 90%;
	height: 30vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	align-items: center;
	background: linear-gradient(to bottom, #000, #171717);
	margin-right: 10px;
	cursor: pointer;
	position: relative;
	@media only screen and (max-width: 767px) {
		width:95%;
		margin:0 auto;
		height: 60vh;
	  }
	img {
		position: absolute;
		top: 0;
		height: 90%;
		transition: all 0.3s ease-in;
		
	  }
  }
  .product:hover img{
		filter: drop-shadow(2px 4px 6px white);
  }
  
  .product:hover #imagehover {
	opacity: 1;
	filter: drop-shadow(2px 4px 6px white);
	 backdrop-filter: blur(5px);
	transition: opacity 0.3s ease; /* Agregar una transición suave */
  }
  
  #imagehover {
	position: absolute;
	top:35%;
	width: 200px;
	height: 100px;
	z-index: 100;
	opacity: 0; /* Inicialmente invisible */
	transition: opacity 0.3s ease; /* Agregar una transición suave */
  }
  
  .product__footer {
	border-top: 3px solid white;
	display: flex;
	width: 100%;
	height: 10%;
	color: white;
	position: absolute;
	bottom: 0;
	justify-content: space-between;
	background-color: black;
	z-index: 1;
	align-items: center;
  }
  